.development {
   background-color: $blue;
   overflow: hidden;
   position: relative;

   &__block {
      @include adaptive-value(padding-top, 162, 24, 0);
      @include adaptive-value(padding-bottom, 138, 109, 0);
   }

   &__descr {
      font-family: PT Sans;
      @include adaptive-value(margin-bottom, 32, 24, 0);
      @include adaptive-value(margin-top, 12, 8, 0);
      @include adaptive-value(font-size, 16, 13, 0);
   }

   &__img {
      position: absolute;
      right: 10vw;
      // top: 580px;
      bottom: -700px;
   }

   &__btn {
      @include btn(197px, 40px, none, #fff, 14px, #fff)
   }
}