<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Министерство образования и науки Кыргызской Республики</title>
   <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body id="root">
   <header class="header fixed-top" id="header">
      <nav class="navbar navbar-expand-lg">
         <div class="container">
            <a href="#" class="navbar-brand">
               <img src="../static/images/header/logo.svg" alt="" class="navbar-brand__img d-lg-none d-block">
            </a>
            <button id="burger" class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
               data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
               aria-label="Toggle navigation">
               <div class="burger align-items-center d-flex">
                  <div class="burger__line"></div>
               </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
               <div class="row">
                  <div class="nav-first col-12">
                     <a href="#" class="navbar-brand d-lg-flex d-none">
                        <img src="../static/images/header/logo.svg" alt="" class="navbar-brand__img">
                        министерство <br> образования
                        и науки <br>
                        кыргызской республики
                     </a>
                     <ul class="navbar-nav navbar-nav-1">
                        <li class="nav-item">
                           <a href="" class="nav-link">
                              <img class="me-1" src="../static/images/header/news.svg" alt="">
                              Новости</a>
                        </li>
                        <span class="nav-line"></span>
                        <li class="nav-item">
                           <a href="" class="nav-link">
                              <img class="me-1" src="../static/images/header/money.svg" alt="">
                              Стипендии</a>
                        </li>
                        <span class="nav-line"></span>
                        <li class="nav-item">
                           <a href="" class="nav-link">
                              <img class="me-1" src="../static/images/header/cap.svg" alt="">
                              Уровень
                              образования</a>
                        </li>
                        <span class="nav-line"></span>
                        <li class="nav-item">
                           <a href="" class="nav-link">
                              <img class="me-1" src="../static/images/header/phone.svg" alt="">
                              Контакты</a>
                        </li>
                     </ul>
                     <ul class="navbar-nav">
                        <li class="nav-item">
                           <a href="" class="nav-link">🇰🇬 Кыргызча</a>
                        </li>
                        <li class="nav-item">
                           <a href="" class="nav-link d-flex">🇷🇺 Русский</a>
                        </li>
                     </ul>
                     <button class="header__btn">Открытые данные</button>
                  </div>
                  <div class="nav-first col-12">
                     <ul class="navbar-nav">
                        <li class="nav-item dropdown me-5 dropright">
                           <a href="desktop/index.html" class="nav-link btn-prim dropdown-toggle"
                              id="navbarDropdownMenuLink" aria-expanded="false">О
                              министерстве</a>
                           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li><a href="" class="dropdown-item">Наша История</a></li>
                              <li class="dropend">
                                 <a href="" class="dropdown-item dropdown-toggle" id="navbarDropdownMenuLink-1"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">Галерея</a>
                                 <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-1">
                                    <li><a href="" class="dropdown-item">Фото галерея</a></li>
                                    <li><a href="" class="dropdown-item">Видео галерея</a></li>
                                 </ul>
                              </li>
                              <li><a href="" class="dropdown-item">Новости</a></li>
                              <li><a href="" class="dropdown-item">Программы развития</a></li>
                           </ul>
                        </li>
                        <li class="nav-item dropdown me-5">
                           <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                              data-bs-toggle="dropdown" aria-expanded="false">Нпа</a>
                           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                           </ul>
                        </li>
                        <li class="nav-item dropdown me-5">
                           <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                              data-bs-toggle="dropdown" aria-expanded="false">Исследование</a>
                           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                           </ul>
                        </li>
                        <li class="nav-item dropdown me-5">
                           <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                              data-bs-toggle="dropdown" aria-expanded="false">Объявление</a>
                           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                           </ul>
                        </li>
                        <li class="nav-item dropdown me-5">
                           <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                              data-bs-toggle="dropdown" aria-expanded="false">ОС</a>
                           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                           </ul>
                        </li>
                        <li class="nav-item dropdown me-5">
                           <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                              data-bs-toggle="dropdown" aria-expanded="false">Антикоррупционная
                              деятельнось</a>
                           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                           </ul>
                        </li>
                        <li class="nav-item dropdown">
                           <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                              data-bs-toggle="dropdown" aria-expanded="false">Вакансии</a>
                           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                           </ul>
                        </li>
                     </ul>
                     <ul class="navbar-nav navbar-icons">
                        <li class="nav-item nav-item-border"><a href="" class="nav-link"><i
                                 class="fab fa-youtube"></i></a></li>
                        <li class="nav-item nav-item-border"><a href="" class="nav-link"><i
                                 class="fab fa-instagram"></i></a></li>
                        <li class="nav-item nav-item-border"><a href="" class="nav-link"><i
                                 class="fab fa-twitter"></i></a></li>
                        <li class="nav-item nav-item-border"><a href="" class="nav-link"><i
                                 class="fab fa-facebook-f"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </nav>
   </header>
   <main>
      <section class="home" id="home">
         <div class="container">
            <img src="../static/images/home/home__bg.png" alt="" class="home-parallax" id="home-parallax">
            <div class="home-bg d-none d-lg-block">
               <div class="home-bg-video">
                  <iframe id="video-frame"
                     src="https://www.youtube.com/embed/lKo5u1IwKRI?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=lKo5u1IwKRI"
                     title="YouTube video player" frameborder="0" allow="autoplay muted loop" allowfullscreen></iframe>
               </div>
               <div class="home-bg-layer"></div>
            </div>
            <h1 class="title text-center text-white">Последние актуальные новости <br>
               в мире образования</h1>
            <div class="home__line"></div>
            <a data-fancybox data-width="1000" href="https://www.youtube.com/embed/lKo5u1IwKRI"
               class="home__btn btn">Смотреть видео</a>
         </div>
      </section>
      <section class="news" id="news">
         <div class="container">
            <h2 class="title text-dark">Последние актуальные новости <br>
               в мире образования</h2>
            <div class="divide-line news__line-1"></div>
            <div class="row">
               <div class="col-12 col-lg-7">
                  <div class="news-main text-white">
                     <p class="date news-main__date">08.04.03 18:34</p>
                     <p class="news-main__text">Встреча министра образования с учителями школы <br> Гимназии №70 города
                        бишкекка</p>
                  </div>
               </div>
               <div class="col-12 col-lg-5">
                  <div class="recent-announcements">
                     <h3 class="subtitle news__subtitle">Последние анонсы</h3>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <div class="recent-announcements__block">
                        <div class="date">08.04.03 18:34</div>
                        <div class="recent-announcements__text">Встреча министра образования с учителями школы Гимназии
                           №70
                           города бишкекка</div>
                        <div class="recent-announcements__line"></div>
                     </div>
                     <button class="recent-announcements__btn">Все новости и Анонсы</button>
                  </div>
               </div>
            </div>
            <div class="divide-line news__line-2"></div>
            <div class="d-flex w-100 justify-content-between align-items-center">
               <h3 class="subtitle news__subtitle">Другие новости</h3>
               <a href="#" class="more-link">Все новости <i class="fas fa-chevron-right ms-2"></i></a>
            </div>
            <div class="row">
               <div class="col">
                  <div class="card border-0">
                     <img src="../static/images/news/card-1.png" class="card-img-top" alt="">
                     <div class="card-body p-0">
                        <h5 class="card-date date">16.04.2021 14:21</h5>
                        <p class="card-text">Центр развитие молодежи
                           откроется в Бишкеке</p>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div class="card border-0">
                     <img src="../static/images/news/card-2.png" class="card-img-top" alt="">
                     <div class="card-body p-0">
                        <h5 class="card-date date">14.02.2021 14:19</h5>
                        <p class="card-text">Центр развитие молодежи
                           откроется в Бишкеке</p>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div class="card border-0">
                     <img src="../static/images/news/card-3.png" class="card-img-top" alt="">
                     <div class="card-body p-0">
                        <h5 class="card-date date">14.09.2020 18:36</h5>
                        <p class="card-text">Центр развитие молодежи
                           откроется в Бишкеке</p>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div class="card border-0">
                     <img src="../static/images/news/card-4.png" class="card-img-top" alt="">
                     <div class="card-body p-0">
                        <h5 class="card-date date">15.06.2020 19:30</h5>
                        <p class="card-text">Центр развитие молодежи
                           откроется в Бишкеке</p>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div class="card border-0">
                     <img src="../static/images/news/card-5.png" class="card-img-top" alt="">
                     <div class="card-body p-0">
                        <h5 class="card-date date">14.02.2020 23:32</h5>
                        <p class="card-text">Центр развитие молодежи
                           откроется в Бишкеке</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="development" id="development">
         <div class="container">
            <div class="development__block">
               <h2 class="title text-white">Развитие образование <br>
                  в Кыргызской Республике</h2>
               <p class="development__descr text-white">
                  В обыденном понимании образование, кроме всего прочего, <br> подразумевает и, в основном,
                  ограничено
                  обучением
                  и <br> воспитанием учеников учителем.
               </p>
               <button class="development__btn">Подробнее</button>
            </div>
            <div class="development-parallax">
               <img src="../static/images/development/development__bg.png" alt="" class="development__img"
                    id="development-parallax">
            </div>
         </div>
      </section>
      <section class="subdivision" id="subdivision">
         <div class="container">
            <h2 class="title text-dark">Подразделения Министерства <br> образования</h2>
            <div class="subdivision-carousel">
               <div class="subdivision-carousel-item">
                  <div class="subdivision-carousel-item__bg-1">
                     <h3 class="subdivision-carousel-item__title">Дошкольное <br>
                        образование</h3>
                     <button class="subdivision-carousel-item__btn">Подробнее</button>
                  </div>
               </div>
               <div class="subdivision-carousel-item">
                  <div class="subdivision-carousel-item__bg-2">
                     <h3 class="subdivision-carousel-item__title">Школьное <br>
                        образование</h3>
                     <button class="subdivision-carousel-item__btn">Подробнее</button>
                  </div>
               </div>
               <div class="subdivision-carousel-item">
                  <div class="subdivision-carousel-item__bg-3">
                     <h3 class="subdivision-carousel-item__title">Среднее профессиональное <br>
                        образование</h3>
                     <button class="subdivision-carousel-item__btn">Подробнее</button>
                  </div>
               </div>
               <div class="subdivision-carousel-item">
                  <div class="subdivision-carousel-item__bg-3">
                     <h3 class="subdivision-carousel-item__title">Высшее <br>
                        образование</h3>
                     <button class="subdivision-carousel-item__btn">Подробнее</button>
                  </div>
               </div>
               <div class="subdivision-carousel-item">
                  <div class="subdivision-carousel-item__bg-3">
                     <h3 class="subdivision-carousel-item__title">Дошкольное <br>
                        образование</h3>
                     <button class="subdivision-carousel-item__btn">Подробнее</button>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="programm" id="programm">
         <div class="container">
            <p class="programm__descr text-center">Мы развиваем образование</p>
            <h2 class="title programm__title text-center">Программы развития</h2>
            <div class="programm-line"></div>
            <div class="programm-tabs">
               <ul class="programm-caption">
                  <li class="programm-tab active"><span>Программа №1</span> </li>
                  <li class="programm-tab"><span>Программа №2</span></li>
                  <li class="programm-tab"><span>Программа №3</span></li>
                  <li class="programm-tab"><span>Программа №4</span></li>
               </ul>
               <div class="programm-content active">
                  <div class="row m-0 ">
                     <div class="col-12 col-lg-5 align-self-center p-0">
                        <div class="left">
                           <img class="programm-content__img img-fluid w-100"
                                src="../static/images/programm/programm__img.png" alt="">
                        </div>
                     </div>
                     <div class="col-12 col-lg-7 p-0">
                        <div class="right">
                           <h3 class="right-subtitle subtitle">Программа #1 развития образования <br>
                              в отдаленных программах</h3>
                           <p class="programm-content__text">
                              Свой визит в Таласской области министр образования и науки Алмазбек Бейшеналиев начал с
                              Кара-Бууринского района села Ак-Жар. Там сгорел один учебный...Свой визит в Таласской
                              области
                              министр образования и науки Алмазбек Бейшеналиев начал с Кара-Бууринского района села
                              Ак-Жар.
                              Там сгорел один учебный...Свой визит в Таласской области министр образования и науки
                              Алмазбек
                              Бейшеналиев начал с Кара-Бууринского района села Ак-Жар. Там сгорел один учебный...
                           </p>
                           <button class="programm-content__btn">Узнать больше</button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="programm-content">
                  <div class="row m-0 ">
                     <div class="col-12 col-lg-5 align-self-center p-0">
                        <div class="left">
                           <img class="programm-content__img img-fluid w-100"
                                src="../static/images/programm/programm__img.png" alt="">
                        </div>
                     </div>
                     <div class="col-12 col-lg-7 p-0">
                        <div class="right">
                           <h3 class="right-subtitle subtitle">Программа #2 развития образования <br>
                              в отдаленных программах</h3>
                           <p class="programm-content__text">
                              Свой визит в Таласской области министр образования и науки Алмазбек Бейшеналиев начал с
                              Кара-Бууринского района села Ак-Жар. Там сгорел один учебный...Свой визит в Таласской
                              области
                              министр образования и науки Алмазбек Бейшеналиев начал с Кара-Бууринского района села
                              Ак-Жар.
                              Там сгорел один учебный...Свой визит в Таласской области министр образования и науки
                              Алмазбек
                              Бейшеналиев начал с Кара-Бууринского района села Ак-Жар. Там сгорел один учебный...
                           </p>
                           <button class="programm-content__btn">Узнать больше</button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="programm-content">
                  <div class="row m-0 ">
                     <div class="col-12 col-lg-5 align-self-center p-0">
                        <div class="left">
                           <img class="programm-content__img img-fluid w-100"
                                src="../static/images/programm/programm__img.png" alt="">
                        </div>
                     </div>
                     <div class="col-12 col-lg-7 p-0">
                        <div class="right">
                           <h3 class="right-subtitle subtitle">Программа #3 развития образования <br>
                              в отдаленных программах</h3>
                           <p class="programm-content__text">
                              Свой визит в Таласской области министр образования и науки Алмазбек Бейшеналиев начал с
                              Кара-Бууринского района села Ак-Жар. Там сгорел один учебный...Свой визит в Таласской
                              области
                              министр образования и науки Алмазбек Бейшеналиев начал с Кара-Бууринского района села
                              Ак-Жар.
                              Там сгорел один учебный...Свой визит в Таласской области министр образования и науки
                              Алмазбек
                              Бейшеналиев начал с Кара-Бууринского района села Ак-Жар. Там сгорел один учебный...
                           </p>
                           <button class="programm-content__btn">Узнать больше</button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="programm-content">
                  <div class="row m-0 ">
                     <div class="col-12 col-lg-5 align-self-center p-0">
                        <div class="left">
                           <img class="programm-content__img img-fluid w-100"
                                src="../static/images/programm/programm__img.png" alt="">
                        </div>
                     </div>
                     <div class="col-12 col-lg-7 p-0">
                        <div class="right">
                           <h3 class="right-subtitle subtitle">Программа #4 развития образования <br>
                              в отдаленных программах</h3>
                           <p class="programm-content__text">
                              Свой визит в Таласской области министр образования и науки Алмазбек Бейшеналиев начал с
                              Кара-Бууринского района села Ак-Жар. Там сгорел один учебный...Свой визит в Таласской
                              области
                              министр образования и науки Алмазбек Бейшеналиев начал с Кара-Бууринского района села
                              Ак-Жар.
                              Там сгорел один учебный...Свой визит в Таласской области министр образования и науки
                              Алмазбек
                              Бейшеналиев начал с Кара-Бууринского района села Ак-Жар. Там сгорел один учебный...
                           </p>
                           <button class="programm-content__btn">Узнать больше</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="divide-line programm-divide-line"></div>
         </div>
      </section>
      <section class="calendar" id="calendar">
         <div class="container">
            <div class="d-flex w-100 justify-content-between align-items-center">
               <h3 class="subtitle mb-4">Кадендарь развития</h3>
               <a href="#" class="more-link">Весь календарь<i class="fas fa-chevron-right ms-2"></i></a>
            </div>
            <div class="row">
               <div class="col-12 col-lg-4">
                  <div class="calendar__card">
                     <h3 class="calendar__title">Центр развитие молодежи
                        откроется в Бишкеке</h3>
                     <p class="date">14 02 2020 18:00</p>
                     <p class="calendar__descr">Свой визит в Таласской области министр образования и науки Алмазбек
                        Бейшеналиев начал с Кара-Бууринского района села Ак-Жар. Там сгорел один учебный...</p>
                  </div>
               </div>
               <div class="col-12 col-lg-4">
                  <div class="calendar__card">
                     <h3 class="calendar__title">Центр развитие молодежи
                        откроется в Бишкеке</h3>
                     <p class="date">14 02 2020 18:00</p>
                     <p class="calendar__descr">Свой визит в Таласской области министр образования и науки Алмазбек
                        Бейшеналиев начал с Кара-Бууринского района села Ак-Жар. Там сгорел один учебный...</p>
                  </div>
               </div>
               <div class="col-12 col-lg-4">
                  <div class="calendar__card">
                     <h3 class="calendar__title">Центр развитие молодежи
                        откроется в Бишкеке</h3>
                     <p class="date">14 02 2020 18:00</p>
                     <p class="calendar__descr">Свой визит в Таласской области министр образования и науки Алмазбек
                        Бейшеналиев начал с Кара-Бууринского района села Ак-Жар. Там сгорел один учебный...</p>
                  </div>
               </div>
            </div>
            <div class="divide-line calendar-divide-line"></div>
         </div>
      </section>
      <section class="authorities" id="authorities">
         <div class="container">
            <h3 class="subtitle authorities__title">Подведомственные органы министерства</h3>
            <div class="authorities-carousel">
               <div class="authorities-carousel-item">
                  <div class="authorities-carousel-item__wrapper">
                     <img src="../static/images/authorities/gerb.png" alt="">министерство <br> образования
                     и науки <br>
                     кыргызской республики
                  </div>
               </div>
               <div class="authorities-carousel-item">
                  <div class="authorities-carousel-item__wrapper">
                     <img src="../static/images/authorities/gerb.png" alt="">министерство <br> образования
                     и науки <br>
                     кыргызской республики
                  </div>
               </div>
               <div class="authorities-carousel-item">
                  <div class="authorities-carousel-item__wrapper">
                     <img src="../static/images/authorities/gerb.png" alt="">министерство <br> образования
                     и науки <br>
                     кыргызской республики
                  </div>
               </div>
               <div class="authorities-carousel-item">
                  <div class="authorities-carousel-item__wrapper">
                     <img src="../static/images/authorities/gerb.png" alt="">министерство <br> образования
                     и науки <br>
                     кыргызской республики
                  </div>
               </div>
               <div class="authorities-carousel-item">
                  <div class="authorities-carousel-item__wrapper">
                     <img src="../static/images/authorities/gerb.png" alt="">министерство <br> образования
                     и науки <br>
                     кыргызской республики
                  </div>
               </div>
            </div>
            <div class="divide-line authorities-divide-line"></div>
            <h3 class="subtitle authorities__title">Вам так же может быть интересно</h3>
            <div class="carousel authorities-carousel">
               <div class="authorities-carousel-item">
                  <div class="authorities-carousel-item__wrapper">
                     <img src="../static/images/authorities/gerb.png" alt="">министерство <br> образования
                     и науки <br>
                     кыргызской республики
                  </div>
               </div>
               <div class="authorities-carousel-item">
                  <div class="authorities-carousel-item__wrapper">
                     <img src="../static/images/authorities/gerb.png" alt="">министерство <br> образования
                     и науки <br>
                     кыргызской республики
                  </div>
               </div>
               <div class="authorities-carousel-item">
                  <div class="authorities-carousel-item__wrapper">
                     <img src="../static/images/authorities/gerb.png" alt="">министерство <br> образования
                     и науки <br>
                     кыргызской республики
                  </div>
               </div>
               <div class="authorities-carousel-item">
                  <div class="authorities-carousel-item__wrapper">
                     <img src="../static/images/authorities/gerb.png" alt="">министерство <br> образования
                     и науки <br>
                     кыргызской республики
                  </div>
               </div>
               <div class="authorities-carousel-item">
                  <div class="authorities-carousel-item__wrapper">
                     <img src="../static/images/authorities/gerb.png" alt="">министерство <br> образования
                     и науки <br>
                     кыргызской республики
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>
   <footer class="footer">
      <div class="container">
         <div class="row">
            <div class="col-12 col-lg-3">
               <h3 class="footer__title">О министерстве</h3>
               <p class="footer__text">Новости</p>
               <p class="footer__text">Галерея</p>
               <p class="footer__text">Наша история</p>
               <p class="footer__text">Программы развития</p>
            </div>
            <div class="col-12 col-lg-3">
               <h3 class="footer__title">Образование</h3>
               <p class="footer__text">Дошкольное образование</p>
               <p class="footer__text">Школьное образование</p>
               <p class="footer__text">Средне професстональное
                  образование</p>
               <p class="footer__text">Начальное профессионально
                  образование</p>
            </div>
            <div class="col-12 col-lg-3">
               <h3 class="footer__title">Исследования</h3>
               <p class="footer__text">Патенты</p>
               <p class="footer__text">Отчеты</p>
               <p class="footer__text">Гранты</p>
            </div>
            <div class="col-12 col-lg-3">
               <h3 class="footer__title">Мы в социальных сетях</h3>
               <ul class="navbar-nav d-flex flex-row">
                  <li class="footer-item me-3"><a href="" class="footer-link"><i class="fab fa-youtube"></i></a>
                  </li>
                  <li class="footer-item me-3"><a href="" class="footer-link"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li class="footer-item me-3"><a href="" class="footer-link"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li class="footer-item"><a href="" class="footer-link"><i class="fab fa-facebook-f"></i></a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="divide-line footer-divide-line"></div>
         <p class="footer-rights text-center">© 2016-2020. Министерство образования Кыргызской Республики</p>
      </div>
   </footer>
   <div id="layer"></div>
   <script src="../static/libs/jquery/js/jquery.min.js"></script>
   <script src="../static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="../static/libs/slick/slick.min.js"></script>
   <script src="../../static/libs/OwlCarousel2-2.3.4/js/owl.carousel.min.js"></script>
   <script src="../static/libs/fancybox/js/jquery.fancybox.min.js"></script>
   <script src="../static/js/script.js"></script>
</body>

</html>